<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Editar perfil</title>
        <link rel="stylesheet" href="../css/estilos.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </head>

    <body style="background-color :beige">
        <nav class="navbar navbar-expand-lg navbar-light bg-danger bg-gradient">
            <div class="container-fluid">

                <button class="navbar-toggler" 
                        type="button" 
                        data-bs-toggle="collapse" 
                        data-bs-target="#navbarNav" 
                        aria-controls="navbarNav" 
                        aria-expanded="false" 
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link active btn btn-light m-2 bg-gradient rounded-pill btn-sm" href="/usuario/"><i class="bi bi-house-fill fs-6"></i>Inicio</a>
                        </li>
                    </ul>

                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item active">
                            <a class="nav-link btn btn-light bg-gradient btn-sm rounded-pill m-2" href="/home/logout"><i class="bi bi-box-arrow-left fs-6 m-1" style="color:black"></i>Cerrar Sesión</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <h3 class="text-center m-3">Complete solo los campos que desea modificar</h3>

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-4 text-center">
                    <p th:if="${error!=null}" th:text="${error}" style="color:red"></p>
                    <form th:action="@{/usuario/editar-check}" th:object="${usuario}" method="post">

                        <input type="hidden" name="id" id="id" th:field="*{id}"/>

                        <label class="form-label fw-bold" for="dni">DNI</label>
                        <input class="form-control form-control-sm " type="text" name="dni" id="dni" th:field="*{dni}" />

                        <label class="form-label fw-bold" for="nombre">Nombre</label>
                        <input class="form-control form-control-sm" type="text" name="nombre" id="nombre" th:field="*{nombre}" />

                        <label class="form-label fw-bold" for="domicilio">Domicilio</label>
                        <input class="form-control form-control-sm" type="text" name="domicilio" id="domicilio" th:field="*{domicilio}"/>

                        <label class="form-label fw-bold" for="telefono">Telefono</label>
                        <input class="form-control form-control-sm" type="text" name="telefono" id="telefono" th:field="*{telefono}"/>

                        <input type="hidden" name="baja" id="baja" th:field="*{baja}"/>

                        <label class="form-label fw-bold" for="newpassword">Nueva Contraseña</label>
                        <input type="password" name="newpassword" id="newpassword" class="form-control form-control-sm">

                        <label class="form-label fw-bold" for="password2">Confirmar nueva contraseña</label>
                        <input class="form-control form-control-sm" type="password" name="password2" id="password2" />

                        <div class="text-center">
                            <button class="border border-white btn btn-danger bg-gradient rounded-pill mt-2">Actualizar Perfil</button>
                        </div>

                    </form>
                    <br>
                </div>
            </div>
        </div>
        <h5 class="text-center">
            <a class="border border-white btn btn-danger bg-gradient rounded-pill" th:href="@{/usuario/perfil(id=__${session.usuariosession.id}__)}">Volver</a>
        </h5>
    </body>
</html>